@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.makerow {
    display: flex;
    flex-direction: row;
}

.makecol {
    display: flex;
    flex-direction: column;
}

.contestdate {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-around;
}

body {
    text-align: center;
    font-family: 'Jost', sans-serif;
    background-color: #f0f5ff;
}

h1 {
    font-size: 48px;
    color: #232c3d;
}

.wrapper {
    width: 70%;
    height: 70vh;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}

.buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    letter-spacing: 3px;
    border: none;
    padding: 10px;
    background-color: #bccbe9;
    color: #232c3d;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #d5e3ff;
}

button.active {
    background-color: white;
}

.active {
    background-color: white;
}

p {
    text-align: left;
    padding: 2px;
}

.content {
    display: none;
    padding: 10px 20px;
}

.content.active {
    display: block;
}

.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.links {
    text-decoration: none;
    color: grey;
    font-weight: 900;
}

.content1 {
    padding: 0px;
    /* width: 70vw; */
    height: 0;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    transition: height 0.2s ease-out;
    background-color: white;
}

.content1.active {
    height: 60vh;
    /* Set a max-height large enough to fit the content */
}

textarea {
    padding: 0.5rem;
}